.body {
    background-color: rgb(187, 182, 187);
}

#emily {
    width: 600px;
    height: 590px;
}

.container-all {
    -webkit-transition: -webkit-transform ease-out 250ms;
    transition: -webkit-transform ease-out 250ms;
    -o-transition: transform ease-out 250ms;
    transition: transform ease-out 250ms;
    transition: transform ease-out 250ms, -webkit-transform ease-out 250ms; }

    .welcome {
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative; }
        .welcome h1 {
          font-size: 1.5rem;
          font-weight: 400;
          color: #223843;
          line-height: 2;
          text-align: center; }
          @media (min-width: 50em) {
            .welcome h1 {
              font-size: 3vw; } }
          .welcome h1 span {
            font-size: 5.5rem;
            letter-spacing: 0.15em;
            color: rgb(218, 149, 231);
            text-transform: uppercase;
            line-height: 1;
            font-family: "Six Caps", sans-serif;
            font-weight: 400;
            display: block; }
            @media (min-width: 50em) {
              .welcome h1 span {
                font-size: 10vw; } }
          .welcome h1::before, .welcome h1::after {
            content: '';
            display: block;
            width: 60%;
            height: 1px;
            background: #dd90d0; }
          .welcome h1::before {
            margin: 0 auto 2em; }
          .welcome h1::after {
            margin: 2em auto 0; }


            .about-me {
                width: 90%;
                margin: 0 auto;
                max-width: 50em;
                margin-top: 5em;
                margin-bottom: 5em; }
                .about-me::after {
                  content: '';
                  display: block;
                  clear: both; }
              
              .about-img {
                max-height: 25em; }
                @media (min-width: 42em) {
                  .about-img {
                    float: left;
                    margin-right: 1em; } }
              
              .about-title {
                margin-bottom: .25em; }
              
              .about-subtitle {
                margin: .5em 0; }
              
              @supports (display: grid) {
                .about-me {
                  display: grid;
                  grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
                  grid-column-gap: .5em; }
                .about-img {
                  grid-column: port / img;
                  grid-row: 1 / 2; }
                  @media (min-width: 50em) {
                    .about-img {
                      grid-row: 1 / 4; } }
                .about-title {
                  grid-column: name / port;
                  grid-row: 1 / 2;
                  -webkit-align-self: end;
                  -ms-flex-item-align: end;
                  align-self: end; }
                .about-subtitle,
                .about-text {
                  grid-column: port / port; }
                  @media (min-width: 50em) {
                    .about-subtitle,
                    .about-text {
                      grid-column: image-end / port-end; } }
                .about-subtitle {
                  grid-row: 2 / 3; }
                .about-text {
                  grid-row: 3 / 4; } }