
.vence {
    width: 200px;
    height: 200px
}



.brecht {
    width: 500px;
    height: 400px
}

.nice {
    width: 400px;
    height: 400px
}


.berlin {
    width: 400px;
    height: 400px
}


.mozart{
    width: 400px;
    height: 400px
}



.chopin {
    width: 400px;
    height: 400px
}


.eiffel {
    width: 400px;
    height: 400px
}


.amsterdam {
    width: 400px;
    height: 400px
}


.alpine {
    width: 400px;
    height: 400px
}

.disney {
    width: 400px;
    height: 400px
}







