.outofafrica {
    width: 200px;
    height: 200px;
}

.hideouskinky {
    width: 300px;
    height: 200px;
}


.blackswan {
    width: 300px;
    height: 200px;
}

.atmiddleton {
    width: 200px;
    height: 200px
}

.Container {
    width: 200px;
    height: 200px;
}


