.dance {
    width: 400px;
    height: 400px;
}

.travel {
    width: 400px;
    height: 400px;
}

.deer {
    width: 400px;
    height: 400px;
}

.node {
    width: 400px;
    height: 400x;
}

.java {
    width: 400px;
    height: 400x;
}


.body {
    background-color: rgb(245, 235, 243);
}