.dance {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.pink {
    background-color: rgb(248, 232, 246);
}

.pink2 { 
    background-color: rgb(255, 255, 255);
}

.pink3 { 
    background-color: rgb(253, 253, 253);
}

.pink4 { 
    background-color: rgb(252, 252, 252);
}

.pink5 { 
    background-color: rgb(252, 252, 252);
}

.pink6 {
    background-color: rgb(248, 232, 246);
}

.flowers7 {
    background-color: rgb(248, 232, 246);
    height: 140px;
}

.whitestrip{
    background-color: rgb(184, 179, 179);
    height: 30px;
}

.books {
    
    float: right;
}

.tech {
    display: flex;
    flex-direction: row;
}

.tech2 {
    display: flex;
    flex-direction: row;
}


.physical {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.performingarts {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.travel {
    width: 400px;
    height: 400px;
}

.deer {
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.node {
    width: 400px;
    height: 400px;
}

.java {
    width: 400px;
    height: 400px;
}

.twitter {
    width: 400px;
    height: 400px;
}

.athena {
    width: 400px;
    height: 400px;
}

.google {
    width: 400px;
    height: 400px;
}

.railsgirls {
    width: 400px;
    height: 400px;
}


.outofafrica {
    width: 300px;
    height: 300px;
}

.hollybourne {
    width: 350px;
    height: 350px;
    position: relative;
    top: 90px;
    left: 35px;
}

.snap {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    position: relative;
    top: 60px;
}

.snap2 {
  
    width: 300px;
    height: 300px;
}

.photos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}

.bookscontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    background-image: url('spines3.png');
    background-size: 600px 500px;
}

.theatre {
    display: flex;
    flex-direction: row;
    width: 102%;
    height: 500px;
   
    background-size: 600px 500px;
}

p {
    margin: 90px;
}

.hideouskinky {
    width: 400px;
    height: 400px;
}

.atmiddleton {
    width: 400px;
    height: 400px;
}

.blackswan {
    width: 400px;
    height: 400px;
}

.atmiddleton {
    width: 370px;
    height: 370px
}

.piano {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.body {
    background-color: rgb(255, 255, 255);
}