@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.pink {
    background-color: rgb(236, 232, 233);
}

h3 {
    font-family: Dancing Script;
    text-align: center;
    font-size: 30px;
}