.rails {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.jasmine {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.capybara {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.enzyme {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.jest{
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.mocha {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.chai {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.rspec {
        height: 55px;
        width: 55px;
        margin-left: auto;
        margin-right: auto;

}

.python {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.ruby {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.react {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.node2 {
    height: 55px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

.sql {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.html {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.css {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.materialui {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.database {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.js {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}


.sinatra {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}



.postgres {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.tdd {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.technologies {
    display: flex;
    flex-direction: row;
    padding: 80px;
  
}

.technologies2 {
    display: flex;
    flex-direction: row;
    padding: 80px;
  
}

.technologies3 {
    display: flex;
    flex-direction: row;
    padding: 80px;
  
}