.rails {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.jasmine {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.capybara {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.enzyme {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.jest{
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.mocha {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.chai {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.rspec {
        height: 55px;
        width: 55px;
        margin-left: auto;
        margin-right: auto;

}

.python {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.ruby {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.react {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.node {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.js {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.node2 {
    height: 55px;
    width: 35px;
    margin-left: auto;
    margin-right: auto;
}

.sinatra {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}



.postgres {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.tdd{
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.technologies {
    display: flex;
    flex-direction: row;
    padding: 80px;
  
}