.rails {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.jasmine2 {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.capybara2 {
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50px;
    bottom: 10px;
}

.capybaratext {
    position: relative;
    left: 50px;
    bottom: 10px;
}


.jest {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.mocha {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.chai {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.rspec {
        height: 55px;
        width: 55px;
        margin-left: auto;
        margin-right: auto;

}

.python {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.ruby {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.react {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.node2 {
    height: 55px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

.sql {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.html {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.css {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.materialui {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.database {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.js {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}


.sinatra {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}



.postgres {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.chai {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.mocha {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 20px;
}

.mochatext {
    position: relative;
    left: 20px;
}

.jest {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 20px;
}

.jesttext {
    position: relative;
    left: 20px;
}

.enzyme2 {
    height: 85px;
    width: 85px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50px;
    bottom: 10px;
}

.enzymetext {
    position: relative;
    left: 50px;
    bottom: 30px;
}

.tdd {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.technologies {
    display: flex;
    flex-direction: row;
    padding: 80px;
  
}

.technologies2 {
    display: flex;
    flex-direction: row;
    padding: 80px;
  
}

.technologies3 {
    display: flex;
    flex-direction: row;
    padding: 80px;
  
}

.technologies4 {
    display: flex;
    flex-direction: row;
    padding: 80px;
  
}